body {
    box-sizing: border-box;
    padding: 6px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button {
    box-sizing: border-box;
    padding: 6px 12px;
}

.menu {
    display: flex;
    flex-direction: column;
    min-width: 80px;
    max-width: 120px;
    gap: 14px;
}